<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/Chart.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/moment.min.js"></script>
    <script src="/static/moment-adapter.js"></script>
    <script src="/static/utils.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/Chart.min.css">
    <meta charset="UTF-8">
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <title>Internet speed monitor</title>
</head>
<body>
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
<label for="unit"></label>
<select id="unit">
    <option value="60">Hour</option>
    <option value="1440" selected="">Day</option>
    <option value="10080">Week</option>
    <option value="43200">Month</option>
</select>
<button id="update">update</button>
<script>
    function newDate(datetime_string) {
        return moment(datetime_string).toDate();
    }

    let config = {
        type: 'line',
        data: {
            datasets: [{
                label: 'Download Kbps',
                backgroundColor: 'red',
                borderColor: 'red',
                fill: false,
                data: [],
            }, {
                label: 'Upload Kbps',
                backgroundColor: 'blue',
                borderColor: 'blue',
                fill: false,
                data: []
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Internet Speed Monitor'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    },
                    ticks: {
                        reverse: true,
                        major: {
                            fontStyle: 'bold',
                            fontColor: '#FF0000'
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            }
        }
    };

    function request_data(start) {
        $.ajax({
            url: '/measurement?start=' + start,
            dataType: 'json',
        }).done(function (json_data) {
            config.data.datasets[1].data = []
            config.data.datasets[0].data = []
            let internet_speed_dataset = json_data.result.map(function (e) {
                let upload_point = {
                    x: newDate(e.created_at),
                    y: e.upload
                };
                let download_point = {
                    x: newDate(e.created_at),
                    y: e.download
                }
                config.data.datasets[1].data.push(upload_point);
                config.data.datasets[0].data.push(download_point);
                return {
                    x: newDate(e.created_at),
                    upload: e.upload,
                    download: e.download
                }
            });
            window.myLine.update();
            console.log(internet_speed_dataset)
        });
    }

    window.onload = function () {
        let ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
        request_data(moment().subtract(1, 'days').toISOString())
    };

    document.getElementById('update').addEventListener('click', function () {
        let filter = document.getElementById('unit').value;
        request_data(moment().subtract(filter, 'minutes').toISOString())
    });
</script>
</body>
</html>
